.box{
    width: 100px;
    height: 100px;
    border: 1 px;
    border-style: solid;
    border-color: black;
}
#first-div{
    float: left;
}
#second-div{
    float: right;
}
.clearfix{
    clear: both
}
p{
    width: 80px;
    height: 80px;
    border: 1 px;
    border-color: red;
    border-style: dotted;
    display: inline;
}